<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>node-poll</h1>
    
    <form>
      <div class="form-group">
        <input name="question" type="text" class="form-control floating-label" placeholder="Type your question here">
      </div>
      <div id="options">
        <div class="form-group">
          <input name="option" type="text" class="form-control floating-label" placeholder="Enter poll option">
        </div>
        <div class="form-group">
          <input name="option" type="text" class="form-control floating-label" placeholder="Enter poll option">
        </div>
        <div class="form-group">
          <input name="option" type="text" class="form-control floating-label last-option" placeholder="Enter poll option">
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="track" type="checkbox">&nbsp;&nbsp;Prevent votes from the same IP from voting again
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Create Poll</button>
      </div>
    </form>

  </div>
</div>

<% include ../partials/modal.ejs %>
<% include ../partials/footer.ejs %>

</body>

</html>
