<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>Popular Polls</h1>

    <% polls.forEach(function(poll) { %>
      <p><a href="/poll/<%= poll.id %>"><%= poll.name %></a></p>
    <% }) %>

  </div>
</div>

<% include ../partials/modal.ejs %>
<% include ../partials/footer.ejs %>

</body>

</html>
